springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  use-fqn: true

spring:
  # JPA
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_HOST} # TODO: 나중에 환경변수 DB_URL로 변경
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  # S3
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB


cloud:
  # S3
  aws:
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    region:
      static: ap-northeast-2 # 버킷 리전
    s3:
      bucket: i-want-to-be-happy # 버킷 이름
    stack:
      auto: false
jwt:
  secret: c328339b9f2f382849ab7cabf59397c72b0871cad811340fb8508ed4c8633a13
